body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.header .links{
    display: flex;
    gap: 20px;
}

ul {
    list-style-type: none;
    color: #e5e7eb;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 70px 200px;
    gap: 40px;
    background-color: #1F2937;
    color: #f9faf8;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 900;
    margin:0;
}

.hero-sub-text{
    font-size: 24px;
    color: #e5e7eb;
}

.cta-button{
    background-color: #3882f6;
    color: #f9faf8;
    width: 150px;
    border-style: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 10px 15px;
}

.main-image{
    min-width: 250px;
}

.main-image img{
    width: 400px;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
}

.info{
    padding: 20px 200px;
    padding-bottom: 80px;
}

h2 {
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;

}
.info-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.info-item img{
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 5px;
}

.quote{
    background-color: #E5E7EB;
}

.quote-container{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 200px;
}

p.inspiring-quote{
    width: 100%;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

p.quote-source{
    align-self: flex-end;
}

.call-to-action{
    background-color: white;
    padding: 50px 150px;
}

.cta-card{
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px; 
    border-radius: 6px;
}

.cta-text{
    color:#f9faf8;
}

.cta-text h3{
    font-size: 24px;
    font-weight: 800;
    margin: 0;
}

.cta-text p{
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

.cta-card .cta-button{
    border: 3px solid #f9faf8;
}
